<html>
    <head>
        <title> headlines </title>
    </head>
    <body>
        <h1>headlines</h1>
        <form action="/news">
            <input type="text" name="publication" placeholder="search" />
            <input type="text" name="city" placeholder="weather search" />
            <input type="submit" value="submit">
        </form>
        <p>city : {{weather.city}} </p>
        <p>{{weather.description}} | {{weather.temperature}}&#8451</p>
        <p>city : {{weather.city}} </p>
        {% for article in articles %}
        <b> <a href="{{article.link}}">{{article.title}}</a></b><br />
        <i>{{article.published}}</i><br />
        <div>{{article.summary}}</div>
        <hr />
        {% endfor %}
    </body>
</html>
